@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --primary-purple: #AFB4FC;
  --sky-blue: #09B5FF;
  --tosca: #34ACC7;
  --purple: #A134C7;
}

@layer components {
  .container {
    @apply w-[calc(100%_-_50px)] max-w-[955px] mx-auto font-mulish
  }

  .center-flex {
    @apply flex justify-center items-center
  }
}

html, body {
  overflow-x: hidden;
}
/* 
* {
  outline: 2px solid red;
} */